<div id="comments">
  <h3>Comments on &ldquo;<%= @post.name %>&rdquo;</h3>
  
  <%= "<p>No comments have been left yet.</p>" if @post.comments.reject(&:new_record?).blank? %>
  
  <% @post.comments.reject(&:new_record?).each do |comment| -%>
  
    <% div_for(comment) do %>
      <% if logged_in? -%>
      <small class="right">
        <%= link_to '(delete)', [@post, comment], :method => :delete, :confirm => "Click OK to delete this comment." %>
        <%= link_to '(spam)', report_comment_path(comment, :as => :spam, :article_id => @post.id), :method => :put %>
      </small>
    <% end -%>
    
    <h5><%= comment.website.blank? ? h(comment.name) : (link_to h(comment.name), h(comment.website)) %> said... </h5>
      <% if logged_in? %>
        <%= edit_in_place_for [@post, comment], :body, :tag => :p %>
      <% else -%>
        <div class="comment-body">
        <%= RedCloth.new(comment.body).to_html %>
        </div>        
      <% end -%>
    <% end -%>
    
  <% end -%>
  
  <% form_for([@post, @comment]) do |f| -%>
  
    <h4>Leave a comment</h4>
    
    <p>
      <a href="http://hobix.com/textile/">Textile</a> is allowed. If you&rsquo;re a robot, don&rsquo;t even bother.
    </p>
  
    <%= error_messages_for :comment, :header_message => nil %>
  
    <% if logged_in? %>
    <%= f.hidden_field :email, :value => current_user.email %>
    <%= f.hidden_field :name, :value => current_user.name %>
    <% else %>
    <label for="email">
      Email <span class="nil">(required)</span><br>
      <%= f.text_field :email, :class => "required" %>
    </label>
  
    <label for="name">
      Name <span class="nil">(required)</span><br>
      <%= f.text_field :name, :class => "required" %>
    </label>
    
    <label for="website">
      Website<br>
      <%= f.text_field :website %>
    </label>
    <% end %>
    
    <label for="body">
      Body <span class="nil">(required)</span><br>
      <%= f.text_area :body, :class => "required" %>
    </label>
    
    <p><%= submit_tag 'Add Comment!', :title => 'Adding comment...' %></p>
  
  <% end -%>
</div>