<div class="date">
  <span class="month"><%= post.created_at.strftime('%b') -%></span>
  <span class="day"><%= post.created_at.strftime('%e') -%></span>
</div>
<blockquote>
  <% cache(post.permalink) do -%>
  <%= twitterize(post.content) %>
  <% end -%>
</blockquote>
<cite>
  &#x2010; Posted via <%= link_to 'Twitter', post.permalink %> 
  <%- if logged_in? -%>
  <%= link_to 'Delete', admin_post_path(post.id), :method => :delete, :confirm => "Click OK to delete this post." %>
  <%- end -%>
</cite>