<% content_for :title do -%>Editing “<%=h @feed.title %>” at <% end -%>
<h1>Editing feed</h1>

<%= error_messages_for :feed %>

<% form_for(@feed, :url => feed_path(@feed)) do |f| %>
  
  <label for="uri">
    Feed URI<br />
    <%= f.text_field :uri %>
  </label>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
