<% content_for :title do -%>Feeds at <% end -%>
<% content_for :header do -%>
<h1>Listing feeds</h1>
<% end -%>

<div id="feeds">
  <% @feeds.each do |feed| -%>
  <div id="<%= dom_id(feed) %>">
    <h3><%= feed.title || '(no title)' %></h3>
    <small>
      <%= link_to pluralize(feed.posts.length, 'post'), feed_path(feed) %>
      <%= link_to 'Edit', edit_feed_path(feed) %>
      <%= link_to 'Refresh', "#{feed_path(feed)}?refresh=true", :method => :put %>
      <%= link_to 'Delete', feed_path(feed), :method => :delete, :confirm => "Click OK to delete this feed (and all of its posts)." %>
    </small>
  </div>  
  <% end -%>
</div>

<p><%= link_to 'New feed', new_feed_path %></p>
