<h1>Listing feeds</h1>

<table>
  <tr>
    <th>Last updated at</th>
    <th>Title</th>
    <th>Url</th>
    <th>Description</th>
    <th>Uri</th>
    <th>User</th>
    <th>Type</th>
  </tr>

<% for feed in @feeds %>
  <tr>
    <td><%=h feed.last_updated_at %></td>
    <td><%=h feed.title %></td>
    <td><%=h feed.url %></td>
    <td><%=h feed.description %></td>
    <td><%=h feed.uri %></td>
    <td><%=h feed.user_id %></td>
    <td><%=h feed.type %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>
