<h1>New feed</h1>

<%= error_messages_for :feed %>

<% form_for(@feed) do |f| %>

  <label for="uri">
    Feed URI<br>
    <%= f.text_field :uri %>
  </label>
  
  <label for="type">
    Type of Feed<br>
    <%= f.select :type, ['Twitter', 'Blog'] %>
  </label>

  <%= f.hidden_field :type, :value => 'Twitter' %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', feeds_path %>
