<% content_for :title do -%>“<%=h @feed.title %>” at <% end -%>
<% content_for :header do -%>
<h1><%= @feed.title %></h1>
<h3>Viewing Posts</h3>
<% end -%>

<ul id="posts">
  <% @feed.posts.each do |post| -%>
  <li id="<%= dom_id(post) %>"><%= truncate(post.content, 60) %></li>
  <% end -%>
</ul>

<p>
  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
</p>

