<% div_for(comment) do -%>
  <p><%=h comment.body %></p>
  <small>
    <%= link_to comment.commentable.header, comment.commentable %>
    <%= link_to 'Delete', comment, :method => :delete, :confirm => "Click OK to delete this comment forever." %>
    <% if comment.spam? -%>
    <%= link_to 'Mark as OK', comment_path(comment, :comment => { :spam => false }), :method => :put %>
    <% else -%>
    <%= link_to 'Mark as spam', comment_path(comment, :comment => { :spam => true }), :method => :put %>
    <% end -%>
  </small>
<% end -%>