<div id="article" class="panel">
  <h1><%= @post.new_record? ? "New Article" : "Edit Article" %></h1>
  
  <% form_for(@post) do |f| %>
    <label for="header">
      Title<br />
      <%= f.text_field :header %>
    </label>

    <label for="content">
      Body<br />
      <%= f.text_area :content %>
    </label>

    <%= f.hidden_field :type, :value => 'Article' if @post.new_record? %>

    <p>
      <%= @post.new_record? ? f.submit("Create") : f.submit("Update") %>
    </p>
  <% end %>
</div>