<div id="link" class="panel">
  <h1>New Link</h1>
  <% form_for(@post) do |f| %>
    <label for="header">
      Link Text<br />
      <%= f.text_field :header %>
    </label>
    
    <label for="content">
      Link Href<br>
      <%= f.text_field :permalink %>
    </label>

    <label for="cite">
      About (optional)<br>
      <%= f.text_field :cite %>
    </label>
    
    <%= f.hidden_field :type, :value => 'Link' %>

    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
</div>