<div id="types">
  <a href="#link">Link</a>
  <a href="#quote">Quote</a>  
  <a href="#snippet">Snippet</a>
  <a href="#article">Article</a>
</div>
<%= error_messages_for :post %>

<%= render :partial => "/posts/forms/article.html.erb" %>
<%= render :partial => "/posts/forms/snippet.html.erb" %>
<%= render :partial => "/posts/forms/link.html.erb" %>
<%= render :partial => "/posts/forms/quote.html.erb" %>

<%= link_to 'Go Back Home', '/' %>

<script type="text/javascript" charset="utf-8">
  Event.observe(document, 'dom:loaded', function() {
    ProtoPanel.setup({'default':'article'});
  })
</script>