<h3><%= spanned_link post.header, post %></h3>
<div class="date">
  <span class="month"><%= post.created_at.strftime('%b') %></span>
  <span class="day"><%= post.created_at.strftime('%e') %></span>
</div>
<div class="entry">
  <%= RedCloth.new(post.content).to_html %>
</div>
<% if params[:action] == 'index' -%>
<div class="meta">
  <%= link_to 'Comments', "#{article_path(post)}#comments" %>
</div>
<% else -%>
<div id="comments">
  <h4>Leave a comment</h4>
</div>
<% end %>