<div class="date">
  <span class="month"><%= post.created_at.strftime('%b') -%></span>
  <span class="day"><%= post.created_at.strftime('%e') -%></span>
</div>
<blockquote>
  <%=h post.content -%>
</blockquote>
<% if post.cite -%>
  <% if post.header %>
  <cite>&#x2010; <%= spanned_link h(post.cite), post.header %></cite>
  <% else %>
  <cite>&#x2010; <%=h post.cite %></cite>
  <% end %>
<% end -%>