<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= yield :title %><%= SITE_SETTINGS['site_title'] %></title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Pat Nakajima">
	<meta name="viewport" content="width=674">
	<%= stylesheet_link_tag 'application', 'article' %>
	<%= stylesheet_link_tag 'admin' if logged_in? %>
	<%= javascript_include_tag 'prototype', 'extensions', 'application' %>
	<%= javascript_include_tag 'admin' if logged_in? %>
</head>
<body>
  <%= render :partial => "shared/admin" if logged_in? %>
  <div <%= %{class="admin"} if params[:action].match(/new|edit/) || params[:controller].match(/comments/) %> id="all">
    <div id="header">
      <%= yield :header -%>
    </div>
    <div id="content">
      <%= yield -%>
    </div>
    <div id="footer">
      <%= yield :footer -%>
    </div>
  </div>  
</body>
</html>
